h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: olive underline wavy;
    letter-spacing: 15px;
    font-size: 100px;
    font-family: Arial, Segoe UI, Futura;
   }
a {
    text-decoration: none;
}
p {
    line-height: 2;
}